@import url('./main-layout.css');

/* ---- BOTONES ---- */
.boton-naranja-primary {
    background-color: rgba(255, 165, 0);  
    color: rgb(0, 0, 0) /*Texto*/
}

.boton-naranja-secondary {
    background-color: rgba(255, 165, 0, 0.3); /* Color naranja semi-transparente */    
    color: rgb(0, 0, 0) /*Texto*/
}

.boton-naranja-secondary:hover {
    background-color: rgba(255, 165, 0, 0.6); /* Color naranja semi-transparente */    
    color: rgb(0, 0, 0) /*Cambiar el color del texto si es necesario */
}

.boton-verde-primary {
    background-color: rgba(0, 100, 0);  
    color: rgb(255, 255, 255) /*Texto*/
}

.boton-verde-secondary {
    background-color: rgba(0, 100, 0, 0.3); /* Color verde semi-transparente */    
    color: rgb(0, 0, 0) /*Texto*/
}

.boton-verde-secondary:hover {
    background-color: rgba(0, 100, 0, 0.6); /* Color verde semi-transparente */    
    color: rgb(0, 0, 0) /*Cambiar el color del texto si es necesario */
}

.boton-contratar {
    border-style: solid;
    border-color:rgba(0, 100, 0);
    border-width: 3px;
    border-radius: 10px;

    color: rgba(0, 100, 0);
    font-weight: bold;

    width: fit-content;
}

.boton-contratar:hover {
    border-style: solid;
    border-color:rgba(0, 100, 0);
    border-width: 3px;
    border-radius: 10px;
    background-color: rgba(0, 100, 0);

    color: white;
    font-weight: bold;

    width: fit-content;

    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.enlace {
    color: rgb(0, 95, 219);
    cursor: pointer;
}

.enlace:hover {
    text-decoration: underline;
}

/* ---- GENERAL ---- */
.margen-top-small {
    margin-top: 15px;
}

.margen-top-mid {
    margin-top: 30px;
}

.margen-top-big {
    margin-top: 150px;
}

.titulo-custom {
    color: rgba(255, 165, 0);
    cursor: pointer;
}

.titulo-custom::after {
    content: "Phone";
    color: darkgreen;
}

.card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;

    border-style: solid;
    border-color:rgba(255, 165, 0);
    border-width: 5px;
    border-radius: 10px;

    justify-content: space-between;
    align-items: center;
    text-align: center;

    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.div-conocenos {
    height: 450px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    background-image: url("images/esi-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-conocenos {
    background-color: rgba(0, 100, 0);
    opacity: 100%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.boton-conocenos {
    border-style: solid;
    border-color:rgba(0, 100, 0);
    border-width: 3px;
    border-radius: 10px;
    background-color: rgba(0, 100, 0);

    color: white;
    font-weight: bold;
    font-size: 20px;

    width: fit-content;

    cursor: pointer;
}

/* ---- CARRUSEL ---- */
.slide {
    display: flex;
}

.mitad-izquierda-slide1 {
    flex: 1;
    width: 100%;
    height: 600px;
    background-image: url("images/stock1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mitad-derecha-slide1 {
    flex: 1;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: solid;
    border-color:rgba(255, 165, 0);
    border-width: 10px;

    font-size: large;
}

.mitad-izquierda-slide2 {
    flex: 1;
    width: 100%;
    height: 600px;
    background-image: url("images/stock2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mitad-derecha-slide2 {
    flex: 1;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: solid;
    border-color:rgba(255, 165, 0);
    border-width: 10px;

    font-size: large;
}

.mitad-izquierda-slide3 {
    flex: 1;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: solid;
    border-color:rgba(0, 100, 0);
    border-width: 10px;

    font-size: large;
}

.mitad-derecha-slide3 {
    flex: 1;
    width: 100%;
    height: 600px;
    background-image: url("images/stock3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---- PAGINA DE CONTRATAR ---- */
.card-contrato {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;

    border-style: solid;
    border-color:rgba(255, 165, 0);
    border-width: 5px;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.3s ease;
}

.card-contrato-clicked {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;

    border-style: solid;
    border-color:rgba(0, 100, 0);
    border-width: 5px;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;

    transform: scale(1.05);
}

.card-contrato:hover {
    transform: scale(1.05);
}

/* ---- PAGINA DE CONTRATAR ---- */
.profile-name {
    font-size: 50px;
}


/* -------------------- */

.fondo-verde {
    background-color: green;
}

.fondo-azul {
    background-color: blue;
}

.fondo-rojo {
    background-color: red;
}

/*
* {
    outline: 1px solid red;
  }
*/